/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
}

/* Navbar Styles */
.navbar {
    background-color: hsl(0, 66%, 44%); /* Vert pour la navbar */
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Animation on hover */
.navbar .nav-link:hover {
    background-color: hsl(0, 61%, 33%);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button.delete-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
