<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="body1">
    <header id="headerr">
        <div class="logo-container">
            <img src="mindbloom.png" width="115" id="logo" alt="Logo Mindbloom">
             <span class="logo-title">Mindbloom</span>
         </div>
        <nav>
            <a href="#hero" class="active">Home</a></li>
                <a href="#about">About</a></li>
                <a href="#services">Services</a></li>
                <a href="#formation">Formation</a></li>
                <a href="formulaire/formulaire.html">Log in</a></li>
                
                
                <a href="#" id="content"><span>Content <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path d="M1.293 4.293a1 1 0 0 1 1.414 0L8 9.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z"/>
                  </svg></span></a>
                
                  <ul id="compte">
                    <li><a href="#" >Compte</a></li>
                    <li class="dropdown"><a href="#">Cours</a>
                      <ul id="module">
                        <li><a href="#">Module 1</a></li>
                        <li><a href="#">Module 2</a></li>
                        <li><a href="#">Module 3</a></li>
                        <li><a href="#">Module 4</a></li>
                        <li><a href="#">Module 5</a></li>
                      </ul>
                    </li>
                    <li><a href="test.html">Test</a></li>
                    <li><a href="#">Bibliothèque meditation </a></li>
                    <li><a href="#">Blogs</a></li>
                  </ul>
                </li>
                <a href="#contact">Contact</a>
        </nav>
    </header>

    
</body>
</html>