<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Mindbloom</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Avilon
  * Template URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <div class="d-flex align-items-center">
           <img src="mindbloom.png" width="115" alt="Logo Mindbloom">
            <span class="logo-title">Mindbloom</span>
        </div>
      

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#formation">Formation</a></li>
          <li id="authButton"><a href="../view/formulaire/View/formulaire.html" >Log in</a></li>
          <li class="dropdown"><a href="#"><span>Content</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Cours</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Module 1</a></li>
                  <li><a href="#">Module 2</a></li>
                  <li><a href="#">Module 3</a></li>
                  <li><a href="#">Module 4</a></li>
                  <li><a href="#">Module 5</a></li>
                </ul>
              </li>
              <li><a href="test.html">Test</a></li>
              <li><a href="#">Bibliothèque meditation </a></li>
              <li><a href="#">Blogs</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Mindbloom</span></h2>
            <p class="animate__animated animate__fadeInUp">Bienvenue chez Mindbloom, où commence votre voyage vers un esprit équilibré et une vie épanouie. Plongez dans un univers de connaissances, d’outils et de soutien conçus pour enrichir votre savoir en psychologie, favoriser votre bien-être, et révéler votre plein potentiel pour un avenir lumineux.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>

      
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Nos Formations</h2>
            <p class="animate__animated animate__fadeInUp">Chez Mindbloom, nos formations combinent cours approfondis, quiz interactifs, et tests psychologiques pour enrichir vos connaissances. Explorez aussi notre bibliothèque de yoga et de techniques de relaxation pour intégrer le bien-être au quotidien.</p>
            <a href="#formation" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>

         <!-- Slide 3 -->
         <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Pourquoi Mindbloom?</h2>
            <p class="animate__animated animate__fadeInUp">Mindbloom est votre espace dédié à l’épanouissement mental et au bien-être. Nous vous offrons des ressources pour enrichir vos connaissances en psychologie, des outils pratiques pour renforcer votre bien-être au quotidien, et une communauté bienveillante pour vous accompagner dans votre cheminement. Rejoignez-nous pour découvrir, grandir et vous épanouir.</p>
            <a href="#Services " class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
      </svg>

    </section><!-- /Hero Section -->

   <!-- About Section -->
   <section id="about" class="about section">

    <div class="container">

      <div class="row position-relative">

        <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="assets/img/about.jpg"></div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
          <h2 class="inner-title">Mindbloom, Votre Chemin vers le Bien-être</h2>
          <div class="our-story">
            <h3>Notre platforme</h3>
            <p>Mindbloom est une plateforme dédiée à votre bien-être et épanouissement personnel. 
              Nous vous offrons des formations en psychologie, des quiz, des tests de personnalité, des techniques de relaxation, 
              ainsi que des blogs informatifs et l’accompagnement d’un psychiatre pour répondre à vos questions.   
              Notre mission est de rendre le bien-être accessible à tous, en favorisant une approche globale pour améliorer 
              votre santé mentale et physique. Rejoignez-nous pour un parcours de transformation positif et durable.</p>
              <p>Après avoir suivi notre formation, nous vous garantissons de :</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Acquérir une meilleure compréhension de vous-même</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Acquérir des connaissances solides en psychologie</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Renforcer votre bien-être mental et physique</span></li>
            </ul>
            
            <div class="watch-video d-flex align-items-center position-relative">
              <!-- Ajoutez la vidéo -->
              <video controls style="max-width: 200%; margin: 0 auto; display: block;">
                <source src="video.mp4" type="video/mp4"> 
                Votre navigateur ne supporte pas la vidéo HTML5.
              </video>
            </div>
            
          </div>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

    

    <!-- Features 2 Section -->
    <section id="features-2" class="features section features-2">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Les atouts de Mindbloom</h2>
        
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 justify-content-between">
          <div class="features-image col-lg-4 d-flex align-items-center" data-aos="fade-up">
            <img src="img1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 d-flex flex-column justify-content-center">

            <div class="features-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-archive flex-shrink-0"></i>
              <div>
                <h4>Approche complète du bien-être</h4>
                <p>Une plateforme qui combine formation, relaxation et conseils professionnels pour un bien-être global.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-basket flex-shrink-0"></i>
              <div>
                <h4>Facilité de gestion</h4>
                <p>Notre site est conçu pour être simple à utiliser, vous permettant d’accéder facilement à toutes les ressources.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-broadcast flex-shrink-0"></i>
              <div>
                <h4>Support personnalisé</h4>
                <p> Des tests et quiz pour un soutien sur mesure dans votre parcours de bien-être.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 " data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-camera-reels flex-shrink-0"></i>
              <div>
                <h4>Éducation accessible </h4>
                <p> Des cours de psychologie clairs et adaptés à tous pour renforcer vos connaissances.</p>
              </div>
            </div><!-- End Features Item-->

          </div>
        </div>

      </div>

    </section><!-- /Features 2 Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Cours</h3>
              </a>
             
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="test.html" class="stretched-link">
                <h3>Tests</h3>
              </a>
            
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Bibliothèque de méditation</h3>
              </a>

            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Blogs</h3>
              </a>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Articles utiles</h3>
              </a>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>FAQ</h3>
              </a>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Laissez-nous vous guider vers un mieux-être.</h3>
              <p>La psychologie et le bien-être sont essentiels pour comprendre et améliorer notre santé mentale, ce qui influence directement notre qualité de vie. En vous accompagnant, nous vous aidons à mieux gérer le stress, les émotions, et à favoriser un équilibre intérieur pour atteindre votre plein potentiel.</p>
              <a class="cta-btn" href="#"> Joignez-vous à nous </a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Tarifs</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Offre basique </h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>dt</sup>0<span> / mois</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Cours sur divers sujets avec certificat</span></li>
                <li><i class="bi bi-check"></i> <span>Tests de personnalités</span></li>
                <li><i class="bi bi-check"></i> <span>Avoir un accès à la bibliothèque de méditation </span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Poser des Questions avec un temps de réponse inférieur 48h </span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Une consultation gratuite</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Blogs</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Consultation direct avec un spécialiste</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Offre extra </h3>
              <div class="icon">
                <i class="bi bi-rocket"></i>
              </div>

              <h4><sup>dt</sup>40<span> / mois</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Cours sur divers sujets avec certificat </span></li>
                <li><i class="bi bi-check"></i> <span>Tests de personnalités</span></li>
                <li><i class="bi bi-check"></i> <span>Avoir un accès à la bibliothèque de méditation </span></li>
                <li><i class="bi bi-check"></i> <span>Poser des Questions avec un temps de réponse inférieur 12h </span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Articles </span></li>
                <li><i class="bi bi-check"></i> <span>Blogs</span></li>
                <li><i class="bi bi-check"></i> <span>Consultation direct avec un spécialiste avec une consultation gratuite puis une remise de 50% </span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Offre super </h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>dt</sup>80<span> / mois</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Cours sur divers sujets avec certificat</span></li>
                <li><i class="bi bi-check"></i> <span>Tests de personnalités</span></li>
                <li><i class="bi bi-check"></i> <span>Avoir un accès à la bibliothèque de méditation </span></li>
                <li><i class="bi bi-check"></i><span>Poser des Questions avec un temps de réponse inférieur 12h </span></li>
                <li><i class="bi bi-check"></i> <span>Blogs et Articles</span></li>
                <li><i class="bi bi-check"></i> <span>Consultation direct avec un spécialiste(10 consultation offertes) </span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Questions fréquemment posées(FAQ)</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>Comment gérer le stress au quotidien ?</h3>
                <div class="faq-content">
                  <p>Mindbloom propose des techniques de relaxation, des exercices de méditation, et des articles pour apprendre à mieux comprendre et gérer le stress.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Comment améliorer mon estime de soi ?</h3>
                <div class="faq-content">
                  <p>Avec des tests de personnalité et des ressources en psychologie, Mindbloom aide à explorer et renforcer la confiance en soi en comprenant ses forces et faiblesses.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Comment mieux comprendre mes émotions ?</h3>
                <div class="faq-content">
                  <p>Les formations en psychologie de Mindbloom permettent de découvrir des concepts clés sur les émotions et offrent des outils pour mieux les identifier et les gérer.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Comment puis-je comprendre mes motivations profondes ?</h3>
                <div class="faq-content">
                  <p>Mindbloom offre des tests et des ressources pour explorer vos motivations et mieux comprendre vos choix.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Comment surmonter les pensées négatives ?</h3>
                <div class="faq-content">
                  <p>Grâce à des techniques de psychologie cognitive, Mindbloom aide à transformer les pensées négatives en perspectives positives.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Quels sont les meilleurs tests de personnalité pour mieux me connaître ?</h3>
                <div class="faq-content">
                  <p>Mindbloom propose des tests reconnus comme le MBTI (Myers-Briggs Type Indicator), l’Ennéagramme et le Big Five pour vous aider à explorer vos traits de personnalité et mieux vous comprendre.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Training Section -->
<section id="formation" class="formation">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Nos Formations</h2>
    <p>Des cours de psychologie simples et accessibles, accompagnés de quiz, tests de personnalité et bien plus pour enrichir votre parcours.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/training/training-1.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Psychologie Simple</h4>
            <span>Cours</span>
            <p>
              Des cours clairs et faciles à comprendre, abordant les concepts essentiels de la psychologie pour tous les niveaux.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Training Member -->

      <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/training/training-2.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Quiz et Tests</h4>
            <span>Évaluation</span>
            <p>
              À la fin de chaque chapitre, testez vos connaissances avec des quiz interactifs et des tests de personnalité comme le test MBTI, l’ennéagramme, et plus encore.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Training Member -->

      <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/training/training-3.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Yoga & Relaxation</h4>
            <span>Bibliothèque</span>
            <p>
              Accédez à une bibliothèque complète avec des techniques de yoga et de relaxation pour améliorer votre bien-être mental et physique.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Training Member -->

    </div>

  </div>

</section><!-- /Training Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallerie</h2>
        <p>Nous vous proposons quelques livres utiles.</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book1.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book2.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book4.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book5.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book-6.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book7.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="book8.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="book8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>N'hésitez pas à entrer en contact avec nous.</p>
      </div><!-- End Section Title -->
      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>2084 Ariena,Tunis</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+216 55 88 11 40</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>mindbloom.24@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <h3 class="sitename">Mindbloom</h3>
      <p>Mindbloom - Votre partenaire pour l’épanouissement personnel et le bien-être au quotidien.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Mindbloom</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="../view/formulaire/index.js"></script>

</body>

</html>